.home > * {
    padding: 16px 0;
}

.hero {
    height: 32rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home .grid-row > * {
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}